section.hero.is-regis.is-small
  .hero-head
    nav.navbar
      .container
        .navbar-brand
          img.regis-image(src="/images/wordmark.png")
          #navbar-burger.burger.navbar-burger(data-target="navbarMenu")
            span
            span
            span
        #navbarMenu.navbar-menu
          .navbar-end
            if loggedIn
              span.navbar-item Logged in as #{user.title} &nbsp;
                b= user.name.first + " " + user.name.last
              a.navbar-item(href="/logout")
                b Logout
            else
              span.navbar-item
                a.button.is-danger.is-inverted(href="/auth/google") Login with Regis Account
        script.
          const burger = document.getElementById('navbar-burger'); 
          const target = document.getElementById(burger.dataset.target); 
  
          burger.addEventListener('click', () => {
            burger.classList.toggle('is-active');
            target.classList.toggle('is-active'); 
          }); 
  .hero-body
    .container
      h1.title.has-text-centered-mobile Ignatian Examen

  .hero-foot
    nav.tabs
      .container
        ul
          li(class=helpers.isActive(path, '/'))
            a(href="/", title="Homepage") Home
          li
            a(href="/examen/today", title="View the latest examen posted today.") Today's Examen
          li(class=helpers.isActive(path, '/examen/archive'))
            a(href="/examen/archive", title="View the list of all posted examens.") Examen Archive
          if loggedIn
            if !user.isStudent
              li(class=helpers.isActive(path, '/examen/submissions'))
                a(href="/examen/submissions") Pending Submissions
            li(class=helpers.isActive(path, '/examen/new'))
              a(href="/examen/new", title="Write and record a new examen.") #{user.isStudent ? 'Submit' : 'Post'} New Examen