extends /template

block content
  section.section
    .container
      h1.title.has-text-centered-mobile Examen Archive
        small.has-text-grey-light.subtitle  #{data.total} total
      hr
      include _pagination
      hr
      .examen-archive
        if data.docs.length > 0
          .columns.is-multiline
            for ex in data.docs
              .column.is-half
                .box.is-clearfix(class=ex.isActive ? 'is-active' : '')
                  .links
                    a.is-pulled-right.is-size-4.has-text-grey-dark(href="/examen/" + ex.id)
                      i.fab.fa-readme(title="Read through at your own pace.")
                    if ex.backingTrack || true
                      a.is-pulled-right.is-size-4.has-text-grey-dark(href="/examen/" + ex.id + "?autoplay=1")
                        i.fas.fa-headphones(title="Listen to audio playthrough.")
                  h3.is-size-4
                    if ex.visibility === 'school'
                      i.fas.fa-graduation-cap
                    else if ex.visibility === 'private'
                      f.fas.fa-lock 
                    |  #{ex.title} 
                    if moment(ex.dateAdded) > moment().subtract(3, 'days')
                      span.tag.is-danger.new-tag(title="This examen was very recently posted.") New
                  .content
                    if ex.introduction
                      .has-text-grey !{ex.introduction.text}
                    else
                      i.has-text-grey-light No introduction given...

                  hr
                  span.tag.is-dark.is-pulled-right(title="This examen has " + ex.prompts.length + " prompts (excluding intro and closing).") #{ex.prompts.length} prompts
                  -var duration = helpers.secondsToSandM(ex.totalDuration)
                  span.tag.is-link.is-pulled-right #{duration.minutes}m #{duration.seconds}s

                  span.is-size-7.has-text-grey-light(title=moment(ex.dateAdded).format("dddd, MMMM Do YYYY, h:mm a")) Posted #{moment(ex.dateAdded).fromNow()} by
                    if loggedIn
                      |  #[a(href="/users/")= ex._poster.title + ' ' + ex._poster.fullName]
                    else
                      |  a #[b= ex._school.name ] member  
        else
          p.has-text-centered.has-text-grey-light No examens have been approved yet...