extends /template

block content
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src='/scripts/examen.js', defer)
  section.section#examen
    .container
      include _header

      .prompts.has-background-light
        progress.progress.delay-progress(:max="currentDelay", :value="timer", :title="timer + ' out of ' + currentDelay + ' seconds left'") {{ timer }}%
        .padded
          #introduction.content(v-show="status == 'introduction'")
            audio.examen-audio.prompt-recording.is-marginless(controls, preload="auto", data-delay=examen.introduction.delay, data-prompt="introduction", id="introduction-audio", src="/audio/examens/" + examen.id + "/introduction.ogg", type="audio/ogg")
            | !{examen.introduction.text}
          for p, index in examen.prompts
            .content.prompt-content(id="prompt-" + index, v-show="status === " + index)
              audio.examen-audio.prompt-recording.is-marginless(controls, preload="auto", data-delay=p.delay, data-prompt=index, id="prompt-" + index + "-audio", src="/audio/examens/" + examen.id + "/prompt-" + index + ".ogg", type="audio/ogg")
              | !{p.text}
          #closing.content(v-show="status == 'closing'")
            audio.examen-audio.prompt-recording.is-marginless(controls, preload="auto", data-delay=examen.closing.delay, data-prompt="closing", id="closing-audio", src="/audio/examens/" + examen.id + "/closing.ogg", type="audio/ogg")
            | !{examen.closing.text}
          
          p.has-text-centered.has-text-grey.delay-p(v-if="autocontinue") Pause for {{ timer }} seconds...

      hr
      if loggedIn
        if examen.approved && !user.isStudent
          form.delete-examen.has-text-centered-mobile(action="/examen/" + examen.id + "/remove", method="POST", onsubmit="return confirm('Are you sure you want to remove " + examen.title + "?')")
            button.button.is-danger Delete Examen
            a.button.is-link.export-audio(href="/examen/" + examen.id + "/export", onclick="alert('Coming soon...'", disabled) Export Audio
        else if !examen.approved
          form.approve-examen(method="POST", action="/examen/" + examen.id + "/approve")
            button.button.is-success Approve
          form.deny-examen(method="POST", action="/examen/" + examen.id + "/deny")
            button.button.is-danger Deny

      if loggedIn
        span.is-size-6.has-text-grey-light.date(title=moment(examen.dateAdded).format("dddd, MMMM Do YYYY, h:mm a")) Posted #{moment(examen.dateAdded).fromNow()} by #[a(href="/users/")= examen._poster.title + ' ' + examen._poster.fullName]