extends ../template

block content
  script(src='/scripts/examen.js', defer)
  section.section
    .container
      h1.title.has-text-centered-mobile= examen.title
        small.is-size-6.has-text-grey-light.is-pulled-right.date(title=moment(examen.dateAdded).format("dddd, MMMM Do YYYY, h:mm a")) Posted #{moment(examen.dateAdded).fromNow()}

      hr
      audio.examen-audio.is-marginless(controls, autoplay=autoplay)
        source(src="/audio/examens/" + examen.id + "/backing_track.mp3", type="audio/mpeg")
      hr(style="margin-top: 0px;")

      nav#examen-breadcrumb.breadcrumb.is-centered(aria-label="breadcrumbs")
        ul
          li.is-active
            a(href="#introduction", data-target="introduction") Introduction
          for p, index in examen.prompts
            li
              a(href="#prompt-" + index, data-target="prompt-" + index) Prompt #{index + 1}
          
      .prompts
        #introduction.content.is-active
          | !{examen.introduction}
        for p, index in examen.prompts
          .content(id="prompt-" + index)
            audio.examen-audio.is-marginless(controls, id="prompt-" + index + "-audio", src="/audio/examens/" + examen.id + "/prompt-" + index + ".mp3", type="audio/mpeg")
            a.play-prompt(data-prompt=index) Listen
              i.fas.fa-volume-up
            | !{p.text}