extends /template

block content
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src='/scripts/examen.js', defer)
  section.section#examen
    .container
      h1.title.has-text-centered-mobile= examen.title
        small.is-size-6.has-text-grey-light.is-pulled-right.date(title=moment(examen.dateAdded).format("dddd, MMMM Do YYYY, h:mm a")) Posted #{moment(examen.dateAdded).fromNow()}
  
      .prompts.has-background-light
        #introduction.content(v-show="status == 'introduction'")
          audio.examen-audio.prompt-recording.is-marginless(controls, preload="auto", data-delay=examen.introduction.delay, data-prompt="introduction", id="introduction-audio", src="/audio/examens/" + examen.id + "/introduction.mp3", type="audio/mpeg")
          | !{examen.introduction.text}
        for p, index in examen.prompts
          .content.prompt-content(id="prompt-" + index, v-show="status === " + index)
            audio.examen-audio.prompt-recording.is-marginless(controls, preload="auto", data-delay=p.delay, data-prompt=index, id="prompt-" + index + "-audio", src="/audio/examens/" + examen.id + "/prompt-" + index + ".mp3", type="audio/mpeg")
            | !{p.text}
        #closing.content(v-show="status == 'closing'")
          audio.examen-audio.prompt-recording.is-marginless(controls, preload="auto", data-delay=examen.closing.delay, data-prompt="closing", id="closing-audio", src="/audio/examens/" + examen.id + "/closing.mp3", type="audio/mpeg")
          | !{examen.closing.text}
          
      
      .columns
        .column.is-narrow
          b.is-size-5.has-text-centered(v-if="(autocontinue && !playing) || !autocontinue") Pause for #{examen.closing.delay} seconds...
        .column
          progress.progress(v-if="autocontinue && !playing", :max="currentDelay", :value="timer", style="margin-top: 6px;") 15%

      hr
      include _controls
      