extends ../template

block content
  script(src='/scripts/examen.js', defer)
  section.section
    .container
      h1.title= examen.title
        small.is-size-6.has-text-grey-light.is-pulled-right Posted #{examen.dateAdded}
      
      hr
      audio.examen-audio.is-marginless(controls, autoplay=autoplay)
        source(src="/audio/" + examen.recording, type="audio/mpeg")
      hr
      
      nav#examen-breadcrumb.breadcrumb.is-centered(aria-label="breadcrumbs")
        ul
          li
            a(href="#introduction", data-target="introduction") Introduction
          for p, index in examen.prompts
            li
              a(href="#prompt-" + index, data-target="prompt-" + index) Prompt #{index + 1}
          
      .prompts
        #introduction.content.is-active
          | !{examen.introduction}
        for p, index in examen.prompts
          .content(id="prompt-" + index)
            | !{p}