extends /template

block content
  section.section
    .container
      h1.title.has-text-centered-mobile Pending Submissions
        small.has-text-grey-light.subtitle  #{data.total} total
      include _pagination
      .examen-submissions
        if data.docs.length > 0
          table.table.is-fullwidth
            thead
              tr
                th(title="Who submitted this examen?") Submitted By
                th(title="What is the title of the examen?") Title
                th(title="How many prompts are in the examen?") Prompts
                th(title="How long is a listen-through of the examen?") Duration
                th(title="When was the examen posted?") When
            tbody
              for ex in data.docs
                tr
                  td
                    a(href="/users/")= ex._poster.fullName
                  td
                    a(href="/examen/" + ex.id)= ex.title
                  td= ex.prompts.length
                  // TODO: show
                  td.has-text-grey ---
                  td(title=moment(ex.dateAdded).format("dddd, MMMM Do YYYY, h:mm a"))= moment(ex.dateAdded).fromNow()

        else
          p.has-text-centered.has-text-grey-light No examens have been posted yet...